{% extends 'base.html' %}

{% block title %} Phorup - Photo organizer and uploader{% endblock %}

{% block navbar-active-home %}active{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-12">
<div class="page-header">
<h1>Welcome to Phorup - A photo organizer and uploader</h1>
</div>
<p> Phorup </p>
<p> View Gallary here  <a href="/photologue">My gallery</a> 
    It allows you to 
    <li>
    - Add gallery (zip file)
    - Add photo
    - Search photo by tags , names etc 
    - Upload photo to social networking site like facebook, smugmug 
    </li>
</p>
</div>
</div>
{% endblock %}

